<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<style>

body{
     background: url("/static/flat_freepik.jpg");
     background-size: cover;
 }
h1{ 
  color: #191970;
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 65px;
  width: 1000px;
  height: 190%;
  padding: 20px;
  }
</style>

<h1>Why should you get a wesbite for your business?

  <a href="https://vivial.net/blog/10-reasons-you-need-a-website/">Follow this link!</a>
